<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VueHr</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VueHr</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav ml-auto">
                        <li>
                            <div class="btn-group nav">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Config<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    
                                    <li>
                                        <form method="get" asp-action="Index" asp-controller="EmploymentStatusTypes">
                                            <button type="submit" class="navDropdownButton">EmploymentTypes</button>
                                        </form>

                                    </li>
                                    <li class="divider"></li>

                                    <li>
                                        <form method="get" asp-action="Index" asp-controller="LeaveTypes">
                                            <button type="submit" class="navDropdownButton">Leave Types</button>
                                        </form>

                                    </li>
                                    <li class="divider"></li>
                                </ul>

                            </div>

                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li>
                            <div class="btn-group nav">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Master<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form method="get" asp-action="Index" asp-controller="Organizations">
                                            <button type="submit" class="navDropdownButton">Organizations</button>
                                        </form>

                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <form method="post" asp-action="Index" asp-controller="Shifts">
                                            <button class="navDropdownButton" type="submit">Shifts</button>
                                        </form>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <form method="post" asp-action="Index" asp-controller="JobRoles">
                                            <button class="navDropdownButton" type="submit">JobRoles</button>
                                        </form>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <form method="post" asp-action="Index" asp-controller="Departments">
                                            <button class="navDropdownButton" type="submit">Departments</button>
                                        </form>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <form method="post" asp-action="Index" asp-controller="Positions">
                                            <button class="navDropdownButton" type="submit">Positions</button>
                                        </form>
                                    </li>

                                    
                                </ul>
                            </div>

                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li>
                            <div class="btn-group nav">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Admin<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form method="get" asp-action="Index" asp-controller="AppRoles">
                                            <button type="submit" class="navDropdownButton">App Roles</button>
                                        </form>

                                    </li>
                                    <li class="divider"></li>
                                </ul>
                            </div>

                        </li>
                    </ul>


                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
                        </li>


                        <li>
                            <div class="btn-group nav">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Payroll<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form method="get" asp-action="" asp-controller="">
                                            <button type="submit" class="navDropdownButton">Attendance</button>
                                        </form>

                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <form method="post" asp-action="Index" asp-controller="UserLeaves">
                                            <button class="navDropdownButton" type="submit">Leave Requests</button>
                                        </form>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <form method="post" asp-action="" asp-controller="">
                                            <button class="navDropdownButton" type="submit">OB Requests</button>
                                        </form>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <form method="post" asp-action="" asp-controller="">
                                            <button class="navDropdownButton" type="submit">Overtime Requests</button>
                                        </form>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <form method="post" asp-action="" asp-controller="">
                                            <button class="navDropdownButton" type="submit">Correction Requests</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - VueHr - IA Innovations - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
